<%= section_header 'About Us' %>

<b>Prakash Raman</b><br>
<div class='text'>
  <i>Founder, Developer</i><br>
  +91 990-192-6261<br>
  prakashraman@jammm.in<br>
  <a class='simple-link' href='http://www.jammm.in/prakashraman'>http://www.jammm.in/prakashraman</a><br>
  http://www.twitter.com/prakash_raman
</div>

<br><br>
<b>Tarun RS</b>
<div class='text'>
  <i>Founder, Developer</i><br>
  +91 973-931-3860<br>
  tarunrs@jammm.in<br>
  <a class='simple-link' href='http://www.jammm.in/tarunrs'>http://www.jammm.in/tarunrs</a><br>
  http://www.twitter.com/tarunrs
</div>

<br><br>  
<b>Minesh Jatania</b>
<div class='text'>
  <i>Core Team, Developer</i><br>
  +91 959-591-7552<br>
  minesh.jatania@jammm.in<br>
  <a class='simple-link' href='http://www.jammm.in/minesh_jatania'>http://www.jammm.in/minesh_jatania</a><br>
</div>

<br><br>
<b>Karthik Naidu</b>
<div class='text'>
  <i>Core Team, Think Tank</i><br>
  +01 352-278-8210<br>
  karthik@jammm.in<br>
  <a class='simple-link' href='http://www.jammm.in/karthik'>http://www.jammm.in/karthik</a><br>
</div>

<br><br>
<b>Pallavi Muralidharan</b>
<div class='text'>
  <i>Core Team, Communications</i><br>
  +91 988-623-7911<br>
  pallavi@jammm.in<br>
  <a class='simple-link' href='http://www.jammm.in/pallavi'>http://www.jammm.in/pallavi</a><br>
</div>

<%= vspace 20 %>
<%= section_header 'Special Thanks To' %>
Ashish Kumar<br>
Bharath Nagaraj<br>
Divya Dilip<br>
Sheja Ehtesham<br>
Sripriya Padmananbhan<br>
Varun Nandakumar<br>
Vasanth Mohanraj
