<%= section_header 'About Us' %>

<b>Prakash Raman</b><br>
<div class='text'>
  <i>Founder, Developer</i><br>
  +91 9901926261<br>
  prakashraman@jammm.in<br>
  <a class='simple-link' href='http://www.jammm.in/prakashraman'>http://www.jammm.in/prakashraman</a><br>
  http://www.twitter.com/prakash_raman
</div>

<br><br>
<b>Tarun RS</b>
<div class='text'>
  <i>Founder, Developer</i><br>
  +91 9739313860<br>
  tarun@jammm.in<br>
  <a class='simple-link' href='http://www.jammm.in/tarunrs'>http://www.jammm.in/tarunrs</a><br>
  http://www.twitter.com/tarunrs
</div>

<%= vspace 20 %>
<%= section_header 'Special Thanks To' %>
Ashish Kumar<br>
Bharath Nagaraj<br>
Divya Dilip<br>
Sripriya Padmananbhan<br>
Varun Nandakumar<br>
Vasanth Mohanraj
