/* DEFAULTS */

.default-link-color {color: #990000;}
-default-bg-color {background-color: blue;}

/* HTML, BODY */

html, body {
  margin:0; 
  padding:0; 
  width:100%; 
  height:100%; 
  overflow:hidden; 
  font-family: 'lucida grande',tahoma,verdana,arial,sans-serif; 
  font-size: 11px;
}

.container {
  text-align: left;
  width: 80%;
  overflow: auto;
}


/* HR */

hr {border: 0}

hr.thin {background-color: gray; height: 1px;}

/* GENERAL PURPOSE */

.w100 {width: 100%;}

.border1 {border: 0 groove black}

.pad10 {padding: 10px 10px 10px 10px;}

/* TOP BAR */

.top-bar {background-color: #990000; height: 40px; color: white; text-align: center}

.top-bar-search {float: right; padding: 8px 10px;}

.top-bar-search-container{overflow: auto; background-color: #cccccc}

/* FOOTER */
.footer {color: #990000}

/* MAIN COLUMNS */

.account-left-panel {width: 18%; float: left; padding-right: 10px; overflow: auto;}

.account-right-panel {width: 30%; float: right;}

.account-middle-panel {width: 50%; float: left;}


