<div class='header'>Messages</div>
<div class='messages'>
  <div class='item'>
    <div class='image'><img src='/new-ui/pickles.jpg' width='48px'></div>
    <div class='contents'>
      <div class='name'>Pickles in a Jar</div>
      <div class='body'>Prakash Raman</div>    
    </div>
  </div>

  <div class='item'>
    <div class='image' style='opacity: 0.8'><img src='/new-ui/pickles.jpg' width='48px'></div>
    <div class='contents'>
      <div class='name'>Pickles in a Jar</div>
      <div class='body'>Tarun</div>    
    </div>
  </div>

</div>