<div class='header'>Notifications</div>
<div class='notifications'>
  <div class='item'>
    <div class='image'><img src='/new-ui/pickles.jpg' width='48px'></div>
    <div class='contents'>
      <div class='name'>Your Jam has been used in a collaboration</div>
    </div>
  </div>

  <div class='item'>
    <div class='image' style='opacity: 0.8'><img src='/new-ui/pickles.jpg' width='48px'></div>
    <div class='contents'>
      <div class='name'>Tarun liked your jam</div>
    </div>
  </div>

</div>