<div class='header' onclick='Doc.Player.collapse()'>
  Notifications
  <div class="minimize">-</div>
</div>
<% notifications = session_user?.notifications.first(5) %>
<%= vspace %>

<div class="doc-notifications">
  <div style='padding: 5px'>
    <div class="notifications-page" style='margin-left: -10px; color: #888'>
      <%= partial :"/account/notifications/notifications", :locals => {:notifications => notifications} %>
    </div>
  </div>
  <div class='show-all' onclick='Navigate.loadContent("/account/notifications"); Doc.Player.collapse()'>
    View all notifications
  </div>
</div>
<% if notifications.empty? %>
    <div class="s11" style='padding: 0px 10px'>You have no notifications</div>
<% else %>
  <% session_user?.mark_notifications_as_read %>
  <%= js_start %>
    Doc.reload();
  <%= js_end %>
<% end %>