<div class='header'>Notifications</div>
<% notifications = session_user?.notifications.first(10) %>
<%= vspace %>
<div class="notifications-page" style='margin-left: -10px; color: #888'>
  <%= partial :"/account/notifications/notifications", :locals => {:notifications => notifications} %>
</div>
<div class='show-all' onclick='Navigate.loadContent("/account/notifications")'>
  View all notifications
</div>