<div class='header'>Playlist</div>

<div class='playlist'>
  <% @playlist.each {|item| 
    
      music = eval(item["music_type"].capitalize).find(item["id"])
  %>
    <div class='item'>
      <div class='image'><img src='/new-ui/pickles.jpg' width='48px'></div>
      <div class='contents'>
        <div class='name'><%= music.name %></div>
        <div class='artist'><%= music.artists.map(&:username).join(", ") %></div>    
      </div>
    </div>
  <% } %>
</div>