<%= render_state({
  :name => "Artists", 
  :description => "", 
  :url => "/artists", 
  :context_menu => false, 
  :img => "/images/navigation/user3_48.png",
  :right_panel => false
}) %>
<%= vspace 10 %>
<div class="page-header">Artists</div><%= vspace 10 %>
<%= partial("common/users", :locals => {:users => User.all.sort_by{|u| -(u.id)}}) %>

