<div class='jam'>
  <div class='icon'>
    <img src='/images/icons/default-jam.png' height='100%'>
  </div>
  <div class='content'>
    <div class='name' onclick='Navigate.loadContent("/jam/<%= jam.id %>")'>
      <%= jam.name %>
    </div>
    <div class='artists'>
      <%= jam.creator.username %>
    </div>
  </div>
</div>