<div class='jam'>
  <div class='icon'>
    <img src='/images/icons/default-jam.png' height='100%'>
  </div>
  <div class='content'>
    <div class='name'>
      <%= jam.name %>
    </div>
    <div class='artists'>
      prakashraman
    </div>
  </div>
</div>