<%= render_state({
  :url => "/jams", 
  :context_menu => "/partial/homepage/jams_context_menu", 
  :img => "/images/navigation/jam.png",
  :right_panel => false
}) %>
<%= vspace 10 %>
<div style='margin-left: 10px'>
  <div class='page-header'>Jams</div> 
</div>
<%= vspace 10 %>
<% jams = Jam.latest_displayable %>
<%= partial :"/common/jams", :locals => {:jams => jams} %>