<ul class='text' style='margin-left: 0px; padding-left: 20px; margin-top: 0px; list-style: lower-alpha'>
  <li> Added "Videos" <a class='default-link-color' href='/videos'>http://jammm.in/videos</a> section. This section will contain various videos on how to use jammm.in. </li>
  <li> "Sessions" feature added. To read more "<a class='default-link-color' href='/sessions/alpha_rhythm'>http://jammm.in/sessions/alpha_rhythm".</a></li>
  <li> Jams now accept the following file formats (for upload) "m4a", "wav" and "mp3", and not just "mp3"</li>
  <li> Added "Chat" (<a href='/chat' class='default-color'>http://www.jammm.in/chat</a>). Chat can be used to chat with other artists (real time) and with the support team.</li>
  <li> Added tagging/mentioning of artists in a 'Say'. Just prefix the usernames with a @. e.g. @Musiclab
  <li>"Say" feature added. This feature can be used to send messages to the global (homepage) feed as well as the followers feeds</li>
  <li> Jam and Song comments are added to the global feed</li>
  <li> Moved into a more stable webserver ! :) </li>
  <li> Removed the progress bar in the upload mp3 section to add more stability to the system. Upload progress bar will be added back in the future. </li>
  <li> Added "Badges" section to the artist profile page</li>
  <li> Added "STEP [numbers]" to the sections in the Jam and Song Manage pages. </li>
  <li> Updates to your email are sent once a day and only if you have any unread notifications.</li>
</ul>
