<div class="overview-header">
  What is jamMm.in ?
</div>


jamMm.in is a music collaboration website. 
for e.g. If you like someone song, you can click the [+] icon and the jams of the song will get added to a new song. You can then go to that song and add your jam and then republish it.

You can also invite users to a song and they can add their jams to the song as well.

The creator of the jam owns the jam. And in any collaborated content all the artists belonging to the collaborated content equally share ownership of the song.

Hope this clears a few questions you had. Do let me know if there are any other questions. 

AIM OF THE SITE.
We believe that if anyone had the chance to collaborate any other musician some great music can be written.

Our long term goal would be to make revenue through the site (and obviously the artists will be paid as well). Although for now we are trying to propagate the idea of music collaboration. 

We just want musicians to know and be able to play with more musicians :)

If you are still interested in the site, we would be glad to send you an invite via your email.

<%= js_start %>
  General.Overview.animateResize();
<%= js_end %>