<%= render_state({
  :name => "Overview", 
  :description => "", 
  :url => "/partial/homepage/overview", 
  :context_menu => "/partial/homepage/overview_context_menu", 
  :img => "/new-ui/collaborate.png",
  :right_panel => "/partial/homepage/overview_tips"
}) %>
<div class="position-relative; height: 100%; width: 100%">
  <img src='/images/map.png' width='100%' name='map'>
</div>