<div class="overview-header">
  What is jamMm.in ?
</div>


jammm.in is a music collaboration platform. Musicians share original work, collaborate and participate in 
virtual bands. Our aim is to provide the best experience for collaborating on musical projects. 
<%= vspace 10 %>
You could bring your own group or form virtual bands on jammm.in and collaborate with someone you’ve never met. 
We are currently in alpha phase and are inviting musicians to join. 
<%= vspace 10 %>
To start collaborating, request for your musician invite.  To listen to jammm.in musicians, view the jams page, collaborations page and artists page. We’re sure you’ll enjoy it.

<%= js_start %>
  General.Overview.animateResize();
<%= js_end %>