<div class="overview-header">
  Why we do this ?
</div>

Music is something that has been existent for as all as human has been on earth. Everyone is can be looked as a very unique musical instrument.

<%= js_start %>
  General.Overview.animateResize();
<%= js_end %>