<div class="overview-header">
  Why we do this ?
</div>

"Music is what feelings sound like". It's music, we deeply care about. Just out of college and inclined to keep our band together, we made a promise to jam once a week while living up to all the other expectations. With career and life taking us in different directions, this was a promise we found hard to keep. And so was sown the seed of 'virtual jamming'. 
With an urge to make something bigger with this idea, a platform where bands could make music, anyone can collaborate from any location and create musical compositions. This simple foresight lead jammm.in to becoming an exclusive community of musicians invited on genre and preset basis.

<%= js_start %>
  General.Overview.animateResize();
<%= js_end %>