<div class='menu height-inherit text' id='simple-menu'>
	<b>jamMm.in</b><br><br>
	
	jamMm.in is a music collaboration application. <br><br>	
</div>

<div class='main-info text'>
  <span class='bold'>Facebook:</span> <a href='http://www.facebook.com/pages/jammmin/233536412526'>http://www.facebook.com/pages/jammmin/233536412526</a>
  <%= vspace %>
  <span class='bold'>Twitter:</span> <a href='http://www.twitter.com/jammm_in'>http://www.twitter.com/jammm_in</a>
  <%= vspace %>
  <span class='bold'>Blog:</span> <a href='http://mail.jammm.in'>http://blog.jammm.in</a>
  <%= vspace %>
</div>
