<%= vspace 10 %>
<%= render_state({
  :name => "Songs", 
  :description => "", 
  :url => "/songs", 
  :context_menu => "/partial/homepage/songs_context_menu", 
  :img => "/new-ui/collaborate.png"
}) %>
<div style='margin-left: 10px'>
  <div class='page-header'>Collaborations</div> 
</div>
<%= vspace 10 %>
<%= partial("common/songs", :locals => {:songs => Song.published_songs}) %>
