<div class='context-menu'>
  <div class='item' onclick='Navigate.loadContent("/song/<%= @song.id %>/manage")'>
      <div class='icon'><img src='/new-ui/test-genre.png' width='24px' class='context-menu-image'></div>
      <div class='text'>Manage</div>
  </div>  
</div>