<%= section_header 'Create Song' %>

<br>
<form method='post' action='/song/register'>
  <table>
	  <tr>
		  <td class='bold' width='100px'>
			  Name
		  </td>
		  <td>
			  <input type='text' name='form[username]'>
		  </td>
	  </tr>
	  <tr>
		  <td class='bold'>
        Description
		  </td>
		  <td>
			  <input type='text' name='form[name]'>
		  </td>
	  </tr>
	  <tr>
		  <td class='bold'>
			  Location
		  </td>
		  <td>
			  <input type='text' name='form[location]'>
		  </td>
	  </tr>
  </table>
  <input type='submit'>
</form>
<br>
<br>
