<%= section_header 'Create Song' %>

<br>
<form method='post' action='/song/register'>
  <table>
	  <tr>
		  <td class='bold' width='100px'>
			  Name
		  </td>
		  <td>
			  <input type='text' name='name'>
		  </td>
	  </tr>
  </table><br>
  <input type='submit' value='Create Song'>
</form>
<br>
<br>
