<div class='jam'>
  <div class='play-icon'><img src='/new-ui/play.png' height='48px'></div>
  <div class='info'>
    <div class='name'><%= jam.name %></div>
    <div class='artist'><%= jam.creator.username %></div>
    <div class='instrument'><%= jam.instrument.name if jam.instrument %></div>
  </div>
  <div class='spectrogram'>
    <img src='/new-ui/waveform.png'>
  </div>
</div>