<div>
  <span class='left-float pad-right-10'><%= add_icon 'jam' %></span>
  <div class='float-left'>
    <span class='bold display-inline'><%= jam.name %></span> - <%= list_artists jam.artists %>
  </div>
</div>
