<%= section_header('Likes') %>
<div id='song-likes'>
	<%= partial(:'song/likes', :locals => {:song => @song}) %>
</div>

<br><br>
<%= section_header('Comments') %>
<div id='song-comments' class='pad-5'>
	<%= partial(:'common/comments', {
		:locals => {
			:comments => @song.comments, 
			:for_type => 'song', 
			:for_type_id => @song.id,
			:comments_div_id => 'song-comments'
			}
		}
	)%>
</div>
