<% 
	jam = fhlp_get_jam(feed) 
	users = fhlp_get_users(feed)
%>
<div>
	<span class='float-left pad-right-10'>
		<%= icon(:jam, :small) %>
	</span>
	Jam <%= jam_link(jam) %> by <%= list_artists(users) %> has been published
</div>
