<%= profile_link feed.dataObj.user %> commented on the jam <%= jam_link feed.dataObj.jam %><br>
<div class='comment'>
  <div class='icon'><%= icon :comments %></div>
  <div class='content'><%= feed.dataObj.comment.comment %></div>
</div>
