<div>
  <div class='float-left grey'>  
    <%= sheet.description %>
  </div>
  <div class='float-right'>
    <a class='simple-link'>Download</a> 
    <a class='simple-link' href="javascript: deleteSheetMusic(<%= sheet.id %>)">Delete</a>
  </div>
</div>
<hr class='thin'>
