<%= section_header "Sign up" %>
<br><br>
<table>
	<tr>
		<td class='bold' width='100px'>
			Username
		</td>
		<td>
			<input type='text'>
		</td>
	</tr>
	<tr>
		<td class='bold'>
			Full Name
		</td>
		<td>
			<input type='text'>
		</td>
	</tr>
	<tr>
		<td class='bold'>
			Location
		</td>
		<td>
			<input type='text'>
		</td>
	</tr>
</table>
<br>
<br>