<html>
<head>
	<%= partial('body/includes')%>
</head>
<body class='text'>

<div class='pad10'>
  <b>Terms and conditions</b><br><br>

  We are currently finalysing the terms and conditions. You will be notified when the terms the conditions are finalised and requested to review and agree to it.

  <br><br>
  Thank you.
</div>
</body>