<div class='notification'>
  <div class='icon position-absolute' style='left: 0px; width: 20px; height: 20px; overflow: hidden'>
    <img src="<%= notification.icon %>" height='24px'>
    <%= notification.icon %>
  </div>
  <div style='margin-left: 25px'>
    <%= partial("/account/notifications/types/#{notification.notification_type}", :locals => {:notification => notification}) %>
  </div>  
</div>
