<div class='w100'>
  <span class='pad1'>
    <span class='left-float pad-right-10'><%= add_icon 'artist' %></span>
    <div>
      <span class='bold float-left'><%= artist.name %>&nbsp;</span>
      <span class='float-right simple-link'>x</span>
    </div>
  </span>
</div>

