<div class='pad1'>
  <div><span class='align-middle'><a href='/jam/<%= @jam.id %>'><%= icon :jam_page %></a></span><span>&nbsp; Jam Page</span></div>
  <br><br>
  <b>Publish</b><br>
  <li>Publishes the JAM to your profile<br>
  <li>You may not publish the jam until an MP3 has been uploaded</li><%= vspace %>
  Note: The jam NEED NOT be published in order to add it to your own song
  <br><br>

  <b>Artists</b><br>
  Artists' who are a part of the jam (mp3) can be tagged along with thier contribution (instrument(s) played)
  <%= vspace %>
  Note: Artists' who are tagged in the jam will have manage console (this page) of this jam.
  <br><br>
</div>