<html>
<head>
	<%= partial('body/includes') %>
</head>
<body>
  <div class='simplemodal-data'>
    <%= vspace 20 %>
    <div class='waiting-message hide'>
  	  Please wait while your jam is being uploaded and normalized... <%= vspace %>
    	<img src="/new-ui/ajax-loader.gif" >
    </div>
    <form id='upload-jam-form' method='post' action='/jam/<%= @jam.id %>/manage/update_file/submit' enctype='multipart/form-data'>
    	<div class='field'>Choose:</div><input type='file' name='file'><br><br>
    	<input type='submit' value='Update Audio File' onclick='Jam.Manage.updateAudioFile.showSpinner(this)'>
    </form>
  </div>
</body>
</html>