<div>
<div class='heading'>Admin add Page</div>
<form id='school-admin-add' method='post' action='/schools/s1/admin/add_update' onsubmit='return false'>
<%= field 'User Name:' %><input type='text' name='name' value=''><%= vspace %>
<div id='save-information-response'></div>
<input type='button' value='Add' onClick='addSchoolUser("school-admin-add")'>
</form>
<div id='add-school-user-response'></div>
</div>
