<% 
	items = [
  	  {:text => 'jamMm.in', 	:link => '/', 							:icon => :favicon, 	:id => 'menu-item-jammmin'},
  	  {:text => 'Users', 	:link => "/schools/#{@school.handle}/admin/add", 		:icon => :add, 		:id => 'menu-item-school-users'}
	]
%>

<div>
	<%= hor_line ("1px", "solid", "#cccccc") %>
	<%= load_menu_items(items) %>	
	<%= vspace 20 %>
</div>

