<% 
	items = [
  	{:text => 'jamMm.in', 		:link => '/', 							:icon => :favicon, 	:id => 'menu-item-jammmin'},
  	{:text => 'Add Users', 		:link => "/schools/#{@school.handle}/admin/add", 	:icon => :add, 		:id => 'menu-item-school-add'},
  	{:text => 'Delete Users', 	:link => "/schools/#{@school.handle}/admin/delete", 	:icon => :delete, 	:id => 'menu-item-school-delete'},
  	{:text => 'Manage Users', 	:link => "/schools/#{@school.handle}/admin/manage", 	:icon => :remove, 	:id => 'menu-item-school-manage'},
	{:text => 'List Users', 	:link => "/schools/#{@school.handle}/admin/list", 	:icon => :play, 		:id => 'menu-item-school-list'}  	
	]
%>

<div>
	<%= hor_line ("1px", "solid", "#cccccc") %>
	<%= load_menu_items(items) %>	
	<%= vspace 20 %>
</div>

