<% 
	items = [
  	  {:text => 'jamMm.in', 	:link => '/', 							:icon => :favicon, 	:id => 'menu-item-jammmin'},
  	  {:text => 'Manage Users', 	:link => "/schools/#{@school.handle}/admin/manage_users",	:icon => :add, 		:id => 'menu-item-school-users'},
  	  {:text => 'Manage School', 	:link => "/schools/#{@school.handle}/admin/manage_school",	:icon => :delete, 	:id => 'menu-item-school-manage'},
	]
%>

<div>
	<%= hor_line ("1px", "solid", "#cccccc") %>
	<%= load_menu_items(items) %>	
	<%= vspace 20 %>
</div>