<b>Message</b>
<%= vspace 10 %>
<form action='/admin/broadcast_message/process' method='post'>
  <textarea name='message'></textarea>
  <%= vspace %>
  <input type='submit' value='Broadcast Message'>
</form>