<div class='item'>
  <div class='image' style='opacity: 0.8'><%= icon(notification.icon[:url], notification.icon[:index], 16) %></div>
  <div class='contents'>
    <span class="bold"><%= notification.data.user.username %></span> likes your jam <span class='bold'><%= notification.data.jam.name %></span>
  </div>
</div>