<html>
<head>
	<%= partial('body/includes')%>
</head>
<body>
	<div class='w100'>
		<div style='float: left; width: 180px'>
			<img src="/<%= session_user?.username %>/profile_picture" height=128>
		</div>
		<div class='float-left'>
			<form action='/account/aboutme/change_profile_picture' method='post' enctype='multipart/form-data'>
				<input type='file' name='picture'><%= vspace %>
				<input type='submit' value='Change'>
			</form>
		</div>
	</div>
</body>
</html>