<div>
  <div class='pad1'>
    <span class='left-float pad-right-10'><%= icon :user %></span>
    <div>
      <span class='simple-link float-left'><%= profile_link artist %>&nbsp;</span>
      <span class='float-right simple-delete' onclick="removeArtistFromSong('<%= @song.id %>', '<%= artist.id %>')">x</span>
    </div>
  </div>
</div>

