<table>
  <tr>
    <td><%= add_field_name 'Name' %></td>
    <td><input type='text' name='song_name' value='<%= song.name %>'></td>
  </tr>
  <tr>
    <td><%= add_field_name 'Description' %></td>
    <td><textarea><%= song.description %></textarea></td>
  </tr>
</table>
