<div class='jam'>
  <div class='info'>
    <div class='name'><%= jam.name %></div>
    <div class='artist'><%= jam.creator.username %></div>
  </div>
  <div class='checkbox'><input type='checkbox'></div>
  <div class='play'><img src='/new-ui/play.png'></div>
  <div class='instrument'><img src='/new-ui/guitar-icon.png' height='36px'></div>
  <div class='waveform'><img src='/new-ui/waveform.png' height='100%' width='100%'></div>
</div>