<div class='song-manage-page jams'>
  <% jams.each{|jam| %>
    <%= partial(:"/song/manage/jam", :locals => {:jam => jam}) %>
  <% } %>

  <div class='jam'>
    <div class='info'>
      <div class='name'>Untitled Jam</div>
    </div>
    <div class='checkbox'><input type='checkbox'></div>
    <div class='play'><img src='/new-ui/play.png'></div>
  </div>
</div>