<div class='song-manage-page jams'>
  <% song_jams.each{|song_jam| %>
    <%= partial(:"/song/manage/jam", :locals => {:song_jam => song_jam}) %>
  <% } %>

  <div class='jam'>
    <div class='info'>
      <div class='name'>Untitled Jam</div>
    </div>
    <div class='checkbox'><input type='checkbox' raiseevent=false></div>
    <div class='play'><%= icon "/images/42.png", 2, 42, true %></div>
    <div style='position: relative; margin-left: 75px; margin-top: 8px'>
      <div class="button" onclick='Song.Manage.uploadJam("<%= @song.id %>")' style='float: right'>
        <div class="icon"><img src='/new-ui/create-jam.png' height='16px'></div>
        <div class="text">Create Jam</div>
      </div>
    </div>
  </div>
</div>