<div class='song-manage-page jams'>
  <% song_jams.each{|song_jam| %>
    <%= partial(:"/song/manage/jam", :locals => {:song_jam => song_jam}) %>
  <% } %>

  <div class='jam'>
    <div class='info'>
      <div class='name'>Untitled Jam</div>
    </div>
    <div class='checkbox'><input type='checkbox'></div>
    <div class='play'><img src='/new-ui/play.png'></div>
    <div style='position: relative; margin-left: 75px; margin-top: 8px'>
      <input type='button' value='Create Jam' onclick='Song.Manage.uploadJam("<%= @song.id %>")' style='float: right'>
    </div>
  </div>
</div>