<div>
  <div class='bold grey'><%= message.user.username %>:</div>
  <div class='pad-left-5'><%= message.message %></div>
  <div class='pad-left-5 italic grey'><%= message.created_at.date %></div>
</div>