<%= vspace %>

<div class='tip'>
  <div class="image"><%= icon "/images/24.png", 11, 24, true %></div>
  <span class="bold">How to Collaborate ?</span>
  <ol style='margin-left: -20px'>
    <li>Click "Create Jam" in the jams console of this page and upload your audio file</li>
    <li>Select (tick) the jams that you would like to merge together</li>
    <li>Click "Preview" in the jams console</li>
    <li>Click "Publish" to publish your collaboration</li>
  </ol>
</div>
<%= vspace 20 %>

<div class='tip'>
  <div class="image"><%= icon "/images/24.png", 11, 24, true %></div>
  Publishing this collaboration will publish all the jams as well.
</div>