<div class='context-menu'>

  <% if @group.admins.include? session_user? %>
    <div class='item container highlight' onclick='Navigate.loadContent("/groups/<%= @group.handle %>/manage")'>
      <div class='container'>
        <div class='icon'><img src='/new-ui/manage1.png' width='24px' class='context-menu-image'></div>
        <div class='text'>Edit School</div>
      </div>
    </div>
  <% end %>
  
</div>