<div class='context-menu'>

  <div class='item' onclick='Navigate.loadContent("/groups/<%= @group.handle %>/manage")'>
    <div class='container'>
      <div class='icon'><img src='/new-ui/manage1.png' width='24px' class='context-menu-image'></div>
      <div class='text'>Edit Group</div>
    </div>
  </div>

  <div class='item' onclick='Navigate.loadContent("/account/messages")'>
    <div class='container'>
      <div class='icon'><img src='/new-ui/generic-add.png' width='24px' class='context-menu-image'></div>
      <div class='text'>Join Group</div>
    </div>
  </div>
  
  <div class='item' onclick='Navigate.loadContent("/account/aboutme")'>
    <div class='container'>
      <div class='icon'><img src='/new-ui/create-jam.png' width='24px' class='context-menu-image'></div>
      <div class='text'>View Jams</div>
    </div>
  </div>
  
  <div class='item' onclick='Navigate.loadContent("/account/aboutme")'>
    <div class='container'>
      <div class='icon'><img src='/new-ui/collaborate.png' width='24px' class='context-menu-image'></div>
      <div class='text'>View Collaboration</div>
    </div>
  </div>
  
</div>