<table>
	<tr>
	  <td><%= field 'Genres' %></td>
	  <td>
  		<%= partial ("common/manage_genres", :locals => {
  			:for_type => "user",
  			:for_type_id => session_user?.id
  		}) %>
  	</td>
	</tr>
</table>