<table>
  <tr>
  	<td><%= field 'Instruments' %></td>
  	<td>
  		<%= partial ("common/manage_instruments", :locals => {
	  		:for_type => "user",
	  		:for_type_id => session_user?.id
		  }) %>
	  </td>
	</tr>
</table>
