<div style='border: 1px solid green; background-color: yellow'>
  Something great over here  Something great over here
  <%= render_state({:name => "Page 1", :description => "desc is here", :url => "/test1"}) %>
</div>