<div class="header">Import tracks from your SoundCloud account</div>
<%= vspace 10 %>
<div class="" id='import-soundcloud-div'>
  <a href="javascript: Account.SoundCloud.importFromSoundCloud.connect()">
    <%= vspace 30 %>
    <img src="/images/misc/soundcloud_connect.png">
  </a>
</div>
