<%= section_header 'Help' %>
<div class='text'>
  Use @&lt;username&gt; to tag a user in a message. <br>The message will show up in <b>bold</b> in the user's chat window.<br>
  <%= vspace %> 
  e.g. @divyadilip great work with the vocals.
</div>