<% 
	items = [
  	{:text => 'jamMm.in', :link => '/', :icon => :favicon, :id => 'menu-item-jammmin'},
  	{:text => 'School Home', :link => "/schools/#{@school.handle}", :icon => :favicon, :id => 'menu-item-school-home'},
  	{:text => 'Members', :link => "/schools/#{@school.handle}/members", :icon => :user, :id => 'menu-item-members'},
  	{:text => 'Songs', :link => "/schools/#{@school.handle}/songs", :icon => :song, :id => 'menu-item-songs'},
    {:text => 'Jams', :link => "/schools/#{@school.handle}/jams", :icon => :jam, :id => 'menu-item-jams'}  	
	]
%>

<div>
	<%= hor_line ("1px", "solid", "#cccccc") %>
  <%= load_menu_items(items) %>	
  <%= vspace 20 %>
</div>
