<%= render_state({
  :name => "Home", 
  :description => "My Home Page", 
  :url => "/account/home", 
  :context_menu => "/partial/account/context_menu",
  :right_panel => "/partial/account/right_panel"
}) %>

<% feeds = session_user?.feeds 100 %>
<div class='feeds'>
  <% feeds.each{|feed| %>
    <%= partial :"/account/feeds/#{feed.feed_type}", :locals => {:feed => feed} %>
  <% } %>
</div>