<div class='position-relative'>
	<div class='position-absolute pad-right-5' style='left: 0px'>
		<%= play jam %>
	</div>
  <div class='position-absolute float-right' style='right: 0px; width: 20px'><%= manage_jam_link jam %></div>
	<div style='margin-left: 20px; margin-right: 25px'>
		<div class='bold'><%= jam_link(jam) %></div>
		<div class='text'><%= list_artists jam.artists %></div>
	</div>
</div>
