<a href='/jam/create'>
  <div style='background-color: #990000; text-align: center; padding: 5px 15px; -moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px; display: inline-block; background-image: url("/images/common/buttonbground.png"); background-repeat:repeat-x'>
    + Create Jam
  </div>
</a>
