<%= vspace 20 %>
<div class="position-relative s11">
  <div class="position-absolute"><%= icon "/images/24.png", 16, 24, true %></div>
  <div style='margin-left: 30px; padding-top: 5px;'>You have been successfully logged out. You will be redirected to jamMm.in's home page shortly.</div>
</div>

<%= js_start %>
  General.logout.success();
<%= js_end %>