
<% 
	items = [
		{:text => 'Create Jam', :link => '/jam/create', :icon => :jam, :id => 'menu-item-jam-create'},
		{:text => 'Create Song', :link => '/song/create', :icon => :song, :id => 'menu-item-song-create'}
	]
	
  ms = "Message Streams"
	ms += (" (" + session_user?.unread_messages.size.to_s + ")") if not session_user?.unread_messages.empty?
		
	items2 = [
  	{:text => 'Home', :link => '/account', :icon => :home, :id => 'menu-item-home'},
  	{:text => 'Profile', :link => '/' + session_user?.username, :icon => :profile, :id => 'menu-item-profile'},
  	{:text => 'Songs', :link => '/account/songs', :icon => :song, :id => 'menu-item-songs'},
    {:text => 'Jams', :link => '/account/jams', :icon => :jam, :id => 'menu-item-jams'},  	
    {:text => ms, :link => '/account/message_streams', :icon => :message, :id => 'menu-item-message-streams'},
    {:text => 'Following', :link => '/account/following', :icon => :following, :id => 'menu-item-following'},
    {:text => 'Followers', :link => '/account/followers', :icon => :followers, :id => 'menu-item-followers'},
	]
%>

<div>
  <%= load_menu_items(items) %>
  <br>
	<%= hor_line ("1px", "solid", "#cccccc") %>
  <%= load_menu_items(items2) %>	
</div>

