
<% 
	items = [
		{:text => 'Create Jam', :link => '/jam/create', :icon => :jam, :id => 'menu-item-jam-create'},
		{:text => 'Create Song', :link => '/song/create', :icon => :song, :id => 'menu-item-song-create'}
	]
	
  ms = "Messages"
#  ms += " (#{session_user?.total_unread_messages})" if session_user?.total_unread_messages > 0
		
	items2 = [
  	{:text => 'Home', :link => '/account', :icon => :"home-header", :id => 'menu-item-home'},
  	{:text => 'Profile', :link => '/' + session_user?.username, :icon => :profile, :id => 'menu-item-profile'},
  	{:text => 'Songs', :link => '/account/songs', :icon => :song, :id => 'menu-item-songs'},
    {:text => 'Jams', :link => '/account/jams', :icon => :jam, :id => 'menu-item-jams'},  	
    {:text => ms, :link => '/account/messages', :icon => :msg2, :id => 'menu-item-message-streams'},
    {:text => 'Following', :link => '/account/following', :icon => :following, :id => 'menu-item-following'},
    {:text => 'Followers', :link => '/account/followers', :icon => :followers, :id => 'menu-item-followers'},
	]
%>

<div>
  <%= load_menu_items(items) %>
  <br>
	<%= hor_line ("1px", "solid", "#cccccc") %>
  <%= load_menu_items(items2) %>	
</div>

<br><br>
<hr class='thin'>
<%= partial("/account/invite") %>


