<div class='w60'>
  <%= add_menu_entry('Home','asdasd','asdasd') %>
  <%= add_menu_entry('Songs','asdasd','asdasd') %>
  <%= add_menu_entry('Jammms','asdasd','asdasd') %>
  <%= add_menu_entry('Profile','/' + @session_user.username,'asdasd') %>
</div>
