<%= vspace 10 %>
<%= page_header ["Account", "Messages"] %>
<%= vspace 20 %>

<% mss = session_user?.message_streams %>
<%= partial ("/account/message_streams", :locals => {:message_streams => mss}) %>

<% if mss.count == 0 %>
  <div class="info-box">You have no messages.</div>
<% end %>