<%= section_header('Message Stream', {:icon => :message}) %>
<% message_stream = @message_stream %>

<span class='music-desc round'>
	Stream with <%= profile_link(message_stream.users.without(session_user?)[0]) %><br>
</span>
<br>
<%= partial("common/message_stream", {:locals => {:message_stream => message_stream, :full => true}}) %>
