<div id='profile-actions-div'>
	<span class='bg-grey round pad10 w60'>
		<b>Actions:</b><hr class='thin' style='background-color: white'>
		<% if not session_user? %>
			You need to log in.
		<% elsif session_user?.follows?(user) %>
			<a class='simple-link' href='javascript: unfollowUser("<%= user.username %>")'>Unfollow</a>
		<% else %>
			<a class='simple-link' href='javascript: followUser("<%= user.username %>")'>Follow</a>
		<% end %>
		<br>
		<%= Message if session_user? %>
	</span>
</div>