<div class='context-menu'>
  <div class='item'>
    <div class='container'>
      <div class='icon'><%= icon "/images/24.png", 8, 24, true %></div>
      <div class='text'>Send Message</div>
    </div>
  </div>

  
  <div class='item' onclick='Navigate.loadContent("/account/aboutme")'>
    <div class='container'>
      <div class='icon'><%= icon "/images/24.png", 18, 24, true %></div>
      <div class='text'>Follow</div>
    </div>
  </div>
  
</div>