<%= section_header 'Vocal Thread' %>
To start your Vocal Thread with <%= @user.name %>, make a post. This thread is private to you and <%= @user.name %>.
<br><br>
<form>
	<textarea></textarea>
	<br>
	<input type='submit' value='Post'>
</form>