<div class='position-relative grey' style='min-height: 20px'>
  <div class='position-absolute'><%= icon :say %></div>
  <div class='position-relative' style='margin-left: 30px'>
    <%= user.said.message %>
  </div>
</div>