<div class='display-inline-block' title='Download <%= obj.name %>' style='height: 16px; width: 16px; margin: 0px; overflow: hidden'>
  <a href='/file/<%= obj.file_handle %>'><%= icon :download1 %></a>
</div>
