<%
  icons = {
    :user_follows => :following,
    :jam_created => :jam,
    :jam_published => :jam,
    :song_created => :song,
    :song_published => :song,
    :user_created => :user
  }

%>

<% feeds.each {|feed| %>
  <% img = icon((icons[feed.feed_type.to_sym] or :update)) %>
	<div class='feed position-relative'>
	  <div class='position-absolute' style='width: 20px'><%= img %></div>
	  <div style='margin-left: 22px'>
  		<%= partial("common/feed", :locals => {:feed => feed, :show_as_updates => show_as_updates}) %>
    </div>
  </div>
<% } %>