<%
  icons = {
    :user_follows => :following,
    :jam_created => :jam,
    :jam_published => :jam,
    :song_created => :song,
    :song_published => :song,
    :user_created => :user
  }

%>

<% feeds.each {|feed| %>
  <% img = icon((icons[feed.feed_type.to_sym] or :update)) %>
	<div class='feed'>
	  <table class='w100'>
	    <tr>
	      <td class='w1'><%= img %></td>        
    	  <td class='w100'>
      		<%= partial("common/feed", :locals => {:feed => feed, :show_as_updates => show_as_updates}) %>
      	</td>
    	</tr>
    </table>
  </div>
<% } %>