<%
  icons = {
    :user_follows => :following,
    :jam_created => :jam,
    :jam_published => :jam,
    :song_created => :song,
    :song_published => :song,
    :user_created => :user
  }

%>

<% feeds.each {|feed| %>
  <% 
#    img = icon((icons[feed.feed_type.to_sym] or :update)) 
    img = profile_picture_thumbnail(fhlp_get_users(feed)[0])
  %>
	<div class='feed position-relative'>
	  <div class='position-absolute' style='width: 30px; padding-top: 3px'><%= img %></div>
	  <div style='margin-left: 35px; min-height: 25px'>
  		<%= partial("common/feed", :locals => {:feed => feed, :show_as_updates => show_as_updates}) %>
    </div>
  </div>
  <%= vspace %>
<% } %>
