<div class="display-inline-block">
  <% users.each_with_index{|u, i| %>
    <div class="display-inline-block link" <%= profile_link u %>><%= u.username %></div><%= "," if i < (users.count - 1) %>
  <% } %>
</div>

<% def it %>

<% end %>