<% 
	cols ||= 3
	width_div = (100 / cols)
%>

<% users.each do |user| %>
  <div style="position: relative; width: <%= width_div %>%; float: left;">
    <div style='position: absolute; right: 0px; top: 0px; margin-right: 10px'>
	<span class='float-right simple-delete simple-link' onclick="deleteUserFromSchool('<%= user.id %>', '<%= @school.handle %>')" title='Delete User'>x</span>
    </div>
    <div style='position: relative; margin-right: 25px;'>
      <%= partial("/common/user", {:locals => {:user => user}}) %>
    </div>
  </div>
<% end %>
