<% unread = ((message.user != session_user?) and message.unread) %>
<% user = (message.user == session_user?) ? session_user? : message.user %>
<div class='user-message'>
  <div class='profile-picture'>
    <img src='<%= user.profile_picture_url %>'>
  </div>
  <div class="actions">
    <div class="gray s11"><%= message.created_at.date %></div>
  </div>
  <div class='content'>
    <div class='body'><%= message.body.format_html %></div>
	</div>
</div>
