<% 
  title ||= obj.name 
  file_path ||= "/file/#{obj.file_handle}"
%>
<div class='display-inline-block' style='overflow: hidden'>
  <a href='javascript: playMusic("<%= file_path %>", "<%= title %>")'><%= icon :play2 %></a>
</div>
