<% player_name = (player_type and player_type == "large") ? "player.swf" : "player-small.swf"  rescue "player-small.swf"%>

<center>
	<div id="playerdiv" style='overflow: hidden'>
		<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" width="380" height="70" id="player" align="middle">
			<param name="allowScriptAccess" value="sameDomain" />
			<param name="movie" value="/swf/<%= player_name %>" /><param name="quality" value="high" /><param name="bgcolor" value="#ffffff" /><embed src="/swf/<%= player_name %>" quality="high" bgcolor="#ffffff" width="380" height="70" name="player" align="middle" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
		</object>
	</div>
</center>