<div class='song'>
  <div class='image'><%= song_picture song %></div>
  <div class='content'>
    <div class='title'>
      <div><%= song.name %></a></div>
    </div>
    <%= vspace 10 %>
    <%= song.artists.map{|user| user.username}.join(", ") %>
  </div>
</div>