<% 
  cols ||= 2
  div_width = ((100  / cols) - 2) 
%>

<div class='w100'>
  <% songs.each do |song| %>
    <div style='width: <%= div_width %>%; float: left'>
      <%= partial("common/song_in_col", :locals => {:song => song }) %>
    </div>
  <% end %>
</div>
<br class='clear-both'>