<% artist = jam_artist.artist %>

<div>
  <div class='align-middle float-left pad-right-5'><%= icon :jam %></div>
  <div class='bold align-middle float-left'><%= profile_link artist %></div>
  <div class='float-left text'> &nbsp;- 
    <%= list_instruments jam_artist.instruments %>
  </div>
</div>