<%= vspace %>
<div class='tip'>
  <div class="image"><%= icon "/images/24.png", 11, 24, true %></div>
  Add your touch to this jam by clicking on <span class="bold">Collaborate</span> in the left menu.
</div>