<%= section_header 'Likes' %>
<%= partial :'common/likes' %>

<br><br>
<%= section_header 'Comments' %>
<div id='jam-comments' class='pad-5'>
	<%= partial(:'jam/comments', {:locals => {:comments => @jam.comments}})%>
</div>
