<%= vspace %>
<div style='color: #777; border: 1px solid #e8e8e8; background-color: #f6f6f6; margin: 10px 20px 0px 20px; position: relative; font-size: 11px; padding: 10px'>
  <img src='/new-ui/tip-2.png' height='36px' style='position: absolute; right: -3px; top: -15px;'>
  Select a jam and click on the collaborate link to make your own Collaboration.
  <%= vspace %>
  <span class='bold'>Collaborations</span> mean the number of times this jams has been used in collaboration.
</div>