<%= section_header 'Likes' %>
<div id='jam-likes'>
	<%= partial(:'common/likes', :locals => {:artists => @jam.liked_by}) %>
</div>

<br><br>
<%= section_header 'Comments' %>
<div id='jam-comments' class='pad-5'>
	<%= partial(:'common/comments', {
		:locals => {
			:comments => @jam.comments, 
			:for_type => 'jam', 
			:for_type_id => @jam.id,
			:comments_div_id => 'jam-comments'
			}
		}
	)%>
</div>
