<%= vspace %>
<div class='tip'>
  <img src='/new-ui/tip-2.png' class='image'>
  Select a jam and click on the collaborate link to make your own Collaboration.
  <%= vspace %>
  <span class='bold'>Collaborations</span> mean the number of times this jams has been used in collaboration.
</div>