<%= vspace %>
<div class='tip'>
  <div class="image"><%= icon "/images/24.png", 11, 24, true %></div>
  Select a jam and click on the collaborate link to make your own Collaboration.
  <%= vspace %>
  <span class='bold'>Collaborations</span> mean the number of times this jams has been used in collaboration.
</div>