<%= section_header 'Likes' %>
<%= partial :'common/likes' %>

<br><br>
<%= section_header 'Comments' %>
<div id='jam-comments' class='pad-5'>
	<%= partial(:'common/comments', {
		:locals => {
			:comments => @jam.comments, 
			:for_type => 'jam', 
			:for_type_id => @jam.id,
			:comments_div_id => 'jam-comments'
			}
		}
	)%>
</div>
