<br>
<table>
  <tr>
    <td> <b>Name:</b> </td>
    <td>
        <select id='user-songs'>
	        <% session_user?.songs.each {|song| %>
		        <%= "<option value='#{song.id}'>#{song.name}</option>" %>
	        <% } %>
        </select>
    </td>
  </tr>
  <tr>
    <td>
      <input type='button' value='Add to Song' id='add-song-button'>
     </td>
  </tr>
</table>

<%= js_start %>
	(function(){
		var onButtonClick = function(){
			var value = $('user-songs').getValue();
			var url = formatUrl(('/song/' + value + "/add_music"), {add: "<%= add %>"});
			call(url, {onSuccess: function(){loadSongManage(value)}});
		};
		
		$('add-song-button').onclick = onButtonClick;
	})();
<%= js_end %>
