<div class='actions-doc'>
  <div class='contents'>
    <div class='icon'>
      <img src='/new-ui/dock.png'>
    </div>
    <div class='icon'>
      <img src='/new-ui/dock.png' style='margin-left: -24px'>
    </div>
    <div class='icon'>
      <img src='/new-ui/dock.png' style='margin-left: -48px'>
    </div>
    <div class='icon'>
      <img src='/new-ui/dock.png' style='margin-left: -72px'>
    </div>
    <div class='icon'>
      <img src='/new-ui/dock.png' style='margin-left: -96px; margin-top: -24px'>
    </div>
  </div>
</div>
<div class='player'>
  <div class='seek'>
    <div class='position'></div>
    <div class='text'>Horton Bay</div>
  </div>
</div>