<div class='actions-doc'>
  <img src='/images/icons/bug.png' height='28px'> &nbsp;&nbsp;
  <img src='/images/icons/comments.png' height='28px'>&nbsp;&nbsp;
  <img src='/images/icons/follow.png' height='28px'>&nbsp;&nbsp;
  <img src='/images/icons/follow.png' height='28px'>
</div>
<div class='player'>
  mini player / now playing / messages / notifications / playlist
</div>