<div class='player' play=true playtype='doc'>
  <div class="play-icon">
    <div class="float-left"><%= icon "/images/dock.png", 7, 24, true %></div> 
  </div>
  <div class="buffer"></div>
  <div class='seek'>
  </div>
  <div class='text'>Player</div>
</div>