<div class='context-menu'>
  <div class='item'>
      <div class='icon'><img src='/new-ui/test-genre.png' width='24px' class='context-menu-image'></div>
      <div class='text'>Genres</div>
  </div>  
  <div class='item' style='background-color: #888888; color: white; font-weight: bold'>
      <div class='icon'><img src='/new-ui/test-genre.png' width='24px' class='context-menu-image'></div>
    <div class='text'>Instruments</div>
  </div>
</div>