<div class='footer text-center position-relative'>
  <hr class="thin">
    <% if session_user? %>  
      <div class='position-absolute grey left-0'>
        <%= session_user?.name %>
      </div>
    <% end %>
    <div class='float-right grey'>
      <%= "<a href='/account'>Home</a> <span class='grey'>-</span> " if session_user? %>
      <a href='/help/tutorial'>Tutorial</a> 
      <span class='grey'>-</span>
      <a href='/aboutus'>About Us</a> 
      <!--
        <span class='grey'>-</span>
        Contact Us
      -->
      <span class='grey'>-</span>
      <a href='http://blog.jammm.in'>Blog</a>
      <span class='grey'>-</span>
      <a href='/bug/new'>Report a Bug</a>
    </div>
</div>
<br><br>
