<div class='footer'>
  <hr class="thin">
  <span class='float-left'>
    <a href='/aboutus'>About us</a> <a href='/'>Jammm.in</a>
  </span>
  
  <span class='float-right'>
  <% if session_user? %>
      <span class='display-inline grey'> <%= session_user?.name %>.</span> 
      <a href='/account'>Home</a> 
      <a href='/<%= session_user?.username %>'>Profile</a> 
      <a href='/account/logout'>Logout</a>
  <% else %>
      <a href='/signin'>Sign In</a> <a href='/signup'>Sign Up</a>    
  <% end %>
  </span>
</div>
<br><br>
