<div class='bottom-bar'>
  <div class='items'>
    <div class='item' onclick='Navigate.loadContent("/aboutus")'><span class='bold'>&middot;</span> Team</div>
    <div class='item' onclick='General.showTermsAndConditions()'><span class='bold'>&middot;</span> Terms of use</div>
    <div class='item' onclick='Navigate.loadContent("/help/faq")'><span class='bold'>&middot;</span> FAQ</div>
  </div>
  <div class='actions-doc'>
    <%= partial :"/body/doc_icons" %>
  </div>
</div>