<div class='bottom-bar'>
  <div class='items'>
    <div class='item'><span class='bold'>&middot;</span> jamMm.in</div>
    <div class='item'><span class='bold'>&middot;</span> Press</div>
    <div class='item'><span class='bold'>&middot;</span> Contact</div>
  </div>
  <div class='actions-doc'>
    <%= partial :"/body/doc_icons" %>
  </div>
</div>