<div class='bottom-bar'>
  <div class='items'>
    <div class='item'><span class='bold'>&middot;</span> jamMm.in</div>
    <div class='item'><span class='bold'>&middot;</span> Press</div>
    <div class='item'><span class='bold'>&middot;</span> Contact</div>
  </div>
  <div class='actions-doc'>
    <div class='contents'>
      <div class='icon'>
        <img src='/new-ui/dock.png'>
      </div>
      <div class='icon'>
        <img src='/new-ui/dock.png' style='margin-left: -84px'>
      </div>
      <div class='icon' onclick="Doc.Messages.show()">
        <img src='/new-ui/dock.png' style='margin-left: -28px'>
      </div>
      <div class='icon' onclick="Doc.Notifications.show()">
        <img src='/new-ui/dock.png' style='margin-left: -56px'>
      </div>
      <div class='icon' onclick="Doc.Playlist.show()">
        <img src='/new-ui/dock.png' style='margin-left: -112px; margin-top: -24px'>
      </div>
    </div>
  </div>
</div>