<div class='middle-bar' style='display: none'>
  <div class='menu-panel'>
    <%= partial :"body/navigation_bar" %>
  </div>
  <div class='tips-panel'>
    Tips Panel
  </div>
  <div class='content-panel' id='content-panel'>
    <div>Content is here     Content is here     Content is here     Content is here     Content is here     Content is here     Content is here     Content is here     Content is here     Content is here     Content is here     Content is here     Content is here     Content is here     Content is here     Content is here     Content is here     Content is here </div>
  </div>
</div>