<div class='navigation-bar' onClick="Navigate.back()">
  <div class='icon'>
    <img src='/images/navigation/navigation.png' height='70px' width='215px'>
  </div>
  <div class='images'>
    &nbsp;
  </div>
  <div class='content'>

  </div>
</div>