<div class='navigation-bar' onClick="Navigate.back()">
  <div class='icon'>
    <img src="/images/icons/back.png">
  </div>
  <div class='content'>
    <div class='name'>name</div>
    <div class='description'>description</div>    
  </div>
</div>