<div class='navigation-bar' onClick="Navigate.back()">
  <div class='icon'>
    <img src='/new-ui/button.png' height='70px' width='215px'>
  </div>
  <div class='context-icon'>
    <img src='/new-ui/pickles.jpg' width='48px'>
  </div>
  <div class='content'>
    <div class='name'>Pickles in a Jar</div>
    <div class='description'>An amazing song</div>    
  </div>
</div>