<% unread_notifications = session_user?.unread_notifications %>
<div class='position-relative'>
  <% if not unread_notifications.empty? %>
    <div class='number'><%= unread_notifications.size %></div>
  <% end %>
  <a href='/account/notifications'><%= icon(:"notification-header", :header) %></a>
</div>
