<div class='top-bar'>
	<img src='/images/logos/logo.jpg' style='float: left; height: 100%'>
</div>
<div class='top-bar-search-container'>
<!-- Player DIV -->
<div class='float-left' id='global-player-div'>
	<%= load_player("large") %>
</div><br><br>
	<span class='top-bar-search'><input type='text' style='border: thin groove grey'></span>
</div>
