<% unread_notifications = session_user?.unread_notifications %>
<div class='position-relative'>
  <% if not unread_notifications.empty? %>
    <div class='position-absolute grey bold' style='right: 0px'><%= unread_notifications.size %></div>
  <% end %>
  <a href='/account/notifications'><%= icon(:notifications, :header) %></a>
</div>
