<% total = session_user?.total_unread_messages %>
<div class='position-relative'>
  <% if total > 0 %>
    <div class='number'><%= total %></div>
  <% end %>
  <a href='/account/messages'><%= icon(:"msg1", :header) %></a>
</div>
