<div class='top-bar'>
  <div class='logo'>
    <a href='/'><img src='/images/logos/logo.jpg' height='100%'></a>
  </div>
  <div class='search'>
    <input type='text'>
  </div>
  <div class='menu'>
    <div class='item' onclick="Navigate.loadContent('/jams')"><div class='text'>Jams</div></div>
    <div class='item' onclick="Navigate.loadContent('/account/home')"><div class='text'>Collaborations</div></div>
    <div class='item'><div class='text'>Schools</div></div>
    <div class='item'><div class='text'>Artists</div></div>
  </div>
</div>
